// Navigation Styles here
header{
    max-width: 800px;
    width: 100%;
    margin:0 auto;
    nav{
        border-bottom: 2px dashed @navigation-border;
        display: flex;
        align-items: baseline;
        color: @font-color;

        @media @mobile{
            display: flex;
            flex-direction: column;
        }
        

       ul{
           display: flex;
           margin-left: 250px;

           li a{
                margin-left: 40px;
                font-size: 1.5rem;
                color: @font-color;
                text-decoration: none;
           }

           a:hover{
               color: blue;
           }

           
       }


            
    }

        
        
        
        
    

    .lower-head{
        
        .pic-01{
            padding-bottom: 2%;
            
        }
        h1{
            padding-bottom: 2%;
            
        }
        p{
            padding-bottom: 1%;
            
        }
    }

    
        
    }
            
